* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  background: #ffd93a;
}

p {
  padding: 50px;
  color: white;
  margin: 0;
}

h1 {
  color: white;
  padding: 20px;
  box-shadow: 0px 5px 5px 5px #000000;

}

video {
  width:100%;
}


li {
  margin-left: 100px;
  text-align: left;
  color: white;
}

.videos {
  position: relative;
}

.containerdec1 {
  position: absolute;
  padding-top: 100px;
  padding-bottom: 20px;
  width:40%;
  background: #ffd93a;
  text-align: center;
  margin-left: 30%;
}

.containerbottomdec1 {
  position: absolute;
  margin-top:650px;
  width:100%;
  background: #ffd93a;
  text-align: center;
  display: flex;
  flex-flow: row;
  /*justify-content: flex-end;*/
  justify-content: space-around;
  border-bottom: 2px solid black;
}


.receptdec1 {
  width: 80%;
  background: #ffd93a;
  margin: auto;
}

.picturedec1 {
  padding: 30px;
  padding-bottom: 20px;
  /*border-bottom: 2px solid black;*/
  text-align: center;
}

.ingstegdec1 {
  background-color: #ffd93a;
  width: 50%;
  height: 400px;
  margin: auto;
  text-align: center;
  border: 2px solid black;
}

#picturedec1 {
  background: url(./images/banankaka.jpg);
  width: 100%;
  padding-top: 100%;
  background-size: cover;
  border: 2px solid black;
  box-shadow: 0px 5px 5px 5px #000000;

}

.videoflex {
  display: flex;
  width: 100%;
  height: 900px;
}
