body {
  background: url(./diana-feil-245956.jpg);
  background-size: cover;
  font-family: 'Berkshire Swash', cursive;
}
#picturedec11 {
  background: url(./images/chokladkokosrutor.jpg);
  width: 100%;
  padding-top: 100%;
  background-size: cover;
}

.container.dec11 {
  
}

.name h1 {
  font-size: 6.5vw;
  text-align: center;
  text-shadow: 3px 3px #0099ff;
}

.container.dec11 {
  background-color: #0099ff;
}
