@import "compass/css3";
@import url('https://fonts.googleapis.com/css?family=Scope+One');

body {
  padding: 0;
  margin: 0;
  background-image: url(./images/background_1.jpg);
  background-size: cover;
}

.calendar {
  /*overflow: hidden;*/
  padding: 0;
  margin: 0;
}

.openPage {
  /*overflow: hidden;*/
  height: 80vh;
  width: 100%;
  background: red;
}

iframe {
  width: 100%;
  height: 100%;
}

.toprow, .bottomrow {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
  height: 10vh;
}

.window {
  transform: rotate(45deg);
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 6%;
  height: 85vh;
  align-self: center;
  border-right: 1px solid;
  border-color: rgba(255, 255, 255, 0.9);
}

.window.toprow {
  transform: rotate(135deg);
}

h1 {
  font-family: 'Scope One' , serif;
  /*font-weight: 400;*/
  font-size: 30px;
  font-weight: normal;
  transform: rotate(-45deg);
  text-align: center;
  margin: auto;
  color: white;
}

.toprow h1 {
  transform: rotate(-135deg);
  text-align: center;
  margin-top: auto;
}

.window:hover {
  background: white;
  opacity: 0.5;
}

.window:hover h1{
  color: black;
  font-size: 45px;
}


/*#no1 {
  background: blue;
}

#no2 {
  background: pink;
}

#no3 {
  background: green;
}

#no4 {
  background: yellow;
}

#no5 {
  background: red;
}

#no6 {
  background: black;
}
#no7 {
  background: blue;
}

#no8 {
  background: pink;
}

#no9 {
  background: green;
}

#no10 {
  background: yellow;
}

#no11 {
  background: red;
}*/

#no12 {
  border-left: 1px solid;
  border-color: rgba(255, 255, 255, 0.9);
}

#no13 {
  border-left: 1px solid;
  border-color: rgba(255, 255, 255, 0.9);
}

/*
#no14 {
  background: pink;
}

#no15 {
  background: green;
}

#no16 {
  background: yellow;
}

#no17 {
  background: red;
}

#no18 {
  background: black;
}
#no19 {
  background: blue;
}

#no20 {
  background: pink;
}

#no21 {
  background: green;
}

#no22 {
  background: yellow;
}

#no23 {
  background: red;
}

#no24 {
  background: black;
}*/
