@font-face {
	font-family: Honeyguide;
	src: url(Honeyguide.otf);
}

@font-face {
	font-family: UniversNextPro;
	src: url(UniversNextPro-Thin.otf);
}


body {
  background: #c74848;
  margin: 0;
}

p {
  font-family: Honeyguide;
  text-align: left;
  padding: 10px;
  color: beige;
  margin: 0;
  font-size: 20px;
}

h1 {
  font-family: Honeyguide;
  background: white;
  color: #c74848;
  padding: 20px;
  font-size: 40px;
}

li {
  font-family: UniversNextPro;
  color: beige;
  text-align: left;
}

.container.dec9 {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  width:100%;
  background: 0;
  margin-left: 100px;
}

.recept.dec9{
  width: 40%;
  border-radius: 50%;
  text-align: center;
  background: #ffaa00;
  border: 5px solid white;
}

.picture.dec9{
  border-radius: 50%;
  padding: 80px;
  padding-bottom: 10px;
  border-bottom: 0;
}

.flexbox {
  width: 50%;
  display: flex;
  flex-flow: column;
}

.ingsteg.dec9 {
  border-radius: 50%;
  background-color: #ffaa00;
  border: 5px solid white;
  width: 40%;
  padding: 50px;
  text-align: center;
  margin: 10px;
}

#picturedec13 {
  background: url(../images/kanelbullerulltarta.jpg);
  border-radius: 50%;
  width: 100%;
  padding-top: 100%;
  background-size: cover;
  border: 5px solid white;
}
