@import url('https://fonts.googleapis.com/css?family=Sriracha');

#picture {
  background: url(../images/chockladbullar.jpg);
}

* {
}

body {
  background-color: pink;
  background-image: url(../images/sprinkles-background.jpg);
  background-size: 20%;
}

p {
  color: black;
  font-family: 'Sriracha', cursive;
}

h1 {
  font-family: 'Sriracha', cursive;
}

li {
  font-family: 'Sriracha', cursive;
  color:black;
}

ul {
  margin-bottom: 30px;
}
.container {
  background: none;
}

.recept {
  background: pink;
  padding: 15px;
}

.picture {
  border-bottom: none;
}

.ingsteg {
  background-color: lightgreen;
  color: white;
  border-bottom: none;
  padding: 15px;
}
