body {
  background: url(../diana-feil-245956.jpg);
  background-size: cover;
  font-family: 'Berkshire Swash', cursive;
  color: white;
}
#picturedec11 {
  background: url(../images/chokladkokosrutor.jpg);
  width: 100%;
  padding-top: 100%;
  background-size: cover;
}

.container.dec11 {

}

.ingsteg.ingsteg-dec11 {
  background-color: #ffcc66;
  border: none;
  padding-bottom: 2px;
}

.name h1 {
  font-size: 6.5vw;
  text-align: center;
  text-shadow: 3px 3px #0099ff;
}

.container.dec11 {
  background-color: #0099ff;
}
