@font-face {
	font-family: Cartoonish;
	src: url(Cartoonish.ttf);
}

@font-face {
	font-family: UniversNextPro;
	src: url(UniversNextPro-Thin.otf);
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
}


#color {
  background: #C0DB91;
}

#colortext {
  color: #F2E086;
  font-family: Cartoonish;
  font-size: 60px;
  padding: 0;
}

#textstor {
  color: black;
  font-family: Cartoonish;
  font-size: 30px;
  padding: 30px;
}

#text {
  color: black;
  font-family: UniversNextPro;
  margin-top: 0;
}

p {
  text-align: center;
  padding: 50px;
  color: white;
  margin: 0;
}

h1 {
  color: black;
  padding: 20px;
}

li {
  /*text-align: left;*/
}

.container.dec17 {
  /*margin-top: 20px;*/
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1000;
  width: 40%;
  border: 10px solid black;
  padding: 50px;
  padding-bottom: 0;
  padding-top: 0;

  /*padding-top: 20px;
  padding-bottom: 20px;
  width:50%;
  background: red;
  text-align: center;
  margin: auto;*/
}

.recept.dec17 {
  width: 100%;
  background: #F2E086;
  /*background: #FFF673;*/
  border: 5px solid black;

  /*width: 90%;
  text-align: center;
  background: black;
  margin: auto;*/
}

.picture.dec17{
  padding: 30px;
  /*padding-bottom: 0;*/
  /*padding: 100px;
  padding-bottom: 10px;*/
  border-bottom: 0;
}

.ingsteg.dec17 {
  background: #F2E086;
  z-index: 1000;
  border: 5px solid black;
  margin-top: 30px;
  margin-bottom: 30px;
  width:100%;
  /*background-color: grey;
  border-bottom: 2px solid white;

  /*text-align: center;
  margin: auto;*/
}

#dec17 {
  background: url(../images/banankaka.jpg);
  width: 100%;
  padding-top: 100%;
  background-size: cover;
  border: 5px solid black;
  text-align: center;
}

/*#dec1 {
  background: url(./images/saffranskolasnittar.jpg);
  width: 100%;
  padding-top: 100%;
  background-size: cover;
}*/


/*new for this page*/

.bottom {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin: 0;
  margin-top: 20px;
  /*border: 10px solid white;*/
  /*background: rgba(255, 255, 255, 0.3);*/
}

/*img {
  width: 100%;
  position: absolute;
  z-index: 1000;
}*/

#snow {
	background: none;
	font-family: Androgyne;
	background-image: url('../images/banan1.png'), url('../images/banan2.png'), url('../images/banan3.png');
  /*background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');*/
	height: 1306px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:-1;
	-webkit-animation: snow 15s linear infinite;
	-moz-animation: snow 15s linear infinite;
	-ms-animation: snow 15s linear infinite;
	animation: snow 15s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
