@font-face {
	font-family: Honeyguide;
	src: url(Honeyguide.otf);
}

@font-face {
	font-family: UniversNextPro;
	src: url(UniversNextPro-Thin.otf);
}


body {
  background-color: #c74848;
  margin: 0;
}

p {
  font-family: Honeyguide;
  padding: 10px;
  color: beige;
  margin: 0;
  font-size: 20px;
}

h1 {
  font-family: Honeyguide;
  background: black;
  color: #c74848;
  padding: 20px;
  font-size: 40px;
}

li {
  font-family: UniversNextPro;
  color: beige;
  text-align: left;
}

.container.dec13 {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
  width:100%;
  background: 0;
}

.recept.dec13{
  width: 40%;
  border-radius: 30%;
  text-align: center;
  background: #ffaa00;
  border: 5px solid white;
  margin: 0;
}

.picture.dec13{
  border-radius: 30%;
  padding: 0px 80px 50px 80px;
}

.ingsteg.dec13 {
  background-color: #ffaa00;
  border: 5px solid white;
  height: 350px;
  width: 20%;
  padding: 10px;
  text-align: center;
  margin: 10px;
  margin-top: 140px;
}

#picturedec13 {
  background: url(../images/kanelbullerulltarta.jpg);
  border-radius: 30%;
  width: 100%;
  padding-top: 100%;
  background-size: cover;
  border: 5px solid white;
}

#snow {
	background: none;
	font-family: Androgyne;
	background-image: url('../images/socker1.png'), url('../images/socker1.png'), url('../images/socker.png');
  /*background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');*/
	height: 800px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:-1;
	-webkit-animation: snow 15s linear infinite;
	-moz-animation: snow 15s linear infinite;
	-ms-animation: snow 15s linear infinite;
	animation: snow 15s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
