#bg16 {
    background-image:url(http://www.animatedimages.org/data/media/1076/animated-christmas-glitter-image-0237.gif);
    background-repeat: repeat;
    background-color: green;

    animation-name: animation;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes animation {
    20%  {background-color: red;}
    40%  {background-color: yellow;}
    60%  {background-color: blue;}
    80%  {background-color: white;}
}

.container.dec16 {
  background-color: #475d85;
  font-family: ‘Cutive Mono’, monospace;
}

#picdec16 {
  background-image: url(../images/dumlekladdkaka.jpg);
  width: 100%;
  padding-top: 100%;
  background-size:cover;
}

.recept.recept16 {
  background-color: 	#b0d5f5;
}

.picture h1 {
  color: #000;
}

.ingsteg.ingsteg16-left,
.ingsteg.ingsteg16-right {
  background-color: hsl(0, 0%, 92%);
}

.ingsteg.ingsteg16-left ul,
.ingsteg.ingsteg16-right ol {
  list-style-type: none;
  padding: 0;
}

.ingsteg.ingsteg16-left ul li,
.ingsteg.ingsteg16-right ol li {
  padding: 0 20px 8px 20px;
  color: #000;
}

.ingsteg.ingsteg16-left ul p,
.ingsteg.ingsteg16-right ol p {
  padding: 20px 20px 50px 20px;
  font-size: 20px;
  color: #000;
  font-weight: bold;
}
