#picturedec19 {
  background: url(../images/hallongrotta.jpg);
  width: 100%;
  padding-top: 100%;
  background-size: cover;
}

body {
  background: url(../images/igor-ovsyannykov-248183.jpg);
  background-size: cover;
  color: white;
  font-family: 'PT Sans', sans-serif;
}

.picture.dec19 {
  background-color: pink;
  margin-top: 15px;
}

.container {
  background-color: #ff3399;
}

.ingsteg {
  background-color: pink;
}

p {
  margin-top: 0;
  padding-top: 30px;
  padding-bottom: 10px;
  margin: 0;
}

.ingsteg {
  padding-right: 10px;
}
