#bg12 {
    background-image:url(http://bestanimations.com/HomeOffice/Lights/Candles/animated-candle-gif-31.gif);
    background-repeat: repeat;
    background-color: black;
    padding: 40px 0;
}

.container.dec12 {
  background-color: #D9383A;
  font-family: ‘Cutive Mono’, monospace;
}

#picdec12 {
  background-image: url(../images/havreflarn.jpg);
  width: 100%;
  padding-top: 100%;
  background-size:cover;
}

.recept.recept12 {
  background-color: #09504F;
}

.picture h1 {
  color: #fff;
}

.ingsteg.ingsteg12-left,
.ingsteg.ingsteg12-right {
  background-color: #A7C7C5;
}

.ingsteg.ingsteg12-left ul,
.ingsteg.ingsteg12-right ol {
  list-style-type: none;
  padding: 0;
}

.ingsteg.ingsteg12-left ul li,
.ingsteg.ingsteg12-right ol li {
  padding: 0 20px 8px 20px;
  color: #172A40;
}

.ingsteg.ingsteg12-left ul p,
.ingsteg.ingsteg12-right ol p {
  padding: 20px 20px 50px 20px;
  font-size: 30px;
  color: #172A40;
  font-weight: bold;
  font-family: 'Devonshire', cursive;
  letter-spacing: 3px;
}

@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');

body {
  background-color: turquoise;
}

.animation {
  font-family: 'Gochi Hand', cursive;
  font-size: 4em;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  margin: auto;
  display: block;

  -webkit-animation: bounce .3s ease infinite alternate;

  color: #FFF;
  text-align: center;
  line-height: 100px;
  text-shadow: 0 1px 0 #CCC,
               0 2px 0 #CCC,
               0 3px 0 #CCC,
               0 4px 0 #CCC,
               0 5px 0 #CCC,
               0 6px 0 transparent,
               0 7px 0 transparent,
               0 8px 0 transparent,
               0 9px 0 transparent,
               0 10px 10px rgba(0, 0, 0, .6);
}

@-webkit-keyframes bounce {
  100% {
    top: -30px;
    text-shadow: 0 1px 0 #CCC,
                 0 2px 0 #CCC,
                 0 3px 0 #CCC,
                 0 4px 0 #CCC,
                 0 5px 0 #CCC,
                 0 6px 0 #CCC,
                 0 7px 0 #CCC,
                 0 8px 0 #CCC,
                 0 9px 0 #CCC,
                 0 30px 30px rgba(0, 0, 0, .3);
  }
}
