@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body {
  background-color: white;
  background-image: url(http://lillfiluren.se/gc/TributeTo@/Kanelsnurra/E.gif);
  font-family: sans-serif;
}

p {
  text-align: left;
  padding: 20px;
  color: #cc0000;
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-weight: normal;
  text-align: center;
  font-size: 45px;
  color: #3c802c;
}


li, ul {
  text-align: left;
  font-size: 14px;
}

/*ol {
  padding: 0;
}*/
.container {
  padding-top: 20px;
  padding-bottom: 20px;
  width:90%;
  background: white;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 80px;
  border: 4px solid green;
  border-radius: 10px;
}

.recept {
  width: 30%;
  text-align: left;
  background: none;
}

.ingsteg {
  background-color: white;
  border-bottom: none;
  width: 30%;
  text-align: center;
  margin: auto;
  padding: 10px;
}

#picture {
  background: url(../images/kanelbullemuffin.jpg);
  width: 100%;
  padding-top: 100%;
  background-size: cover;
  border: 4px solid green;
  border-radius: 50%;
}
