#bg16 {
    background-image:url(https://cdn.pixabay.com/photo/2016/12/08/14/44/christmas-1891864_960_720.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container.dec16 {
  background-color: #475d85;
  font-family: ‘Cutive Mono’, monospace;
}

#picdec16 {
  background-image: url(../images/havreflarn.jpg);
  width: 100%;
  padding-top: 100%;
  background-size:cover;
}

.recept.recept16 {
  background-color: 	#b0d5f5;
}

.picture h1 {
  color: #000;
}

.ingsteg.ingsteg16-left,
.ingsteg.ingsteg16-right {
  background-color: hsl(0, 0%, 92%);
}

.ingsteg.ingsteg16-left ul,
.ingsteg.ingsteg16-right ol {
  list-style-type: none;
  padding: 0;
}

.ingsteg.ingsteg12-left ul li,
.ingsteg.ingsteg12-right ol li {
  padding: 0 20px 8px 20px;
  color: #000;
}

.ingsteg.ingsteg12-left ul p,
.ingsteg.ingsteg12-right ol p {
  padding: 20px 20px 50px 20px;
  font-size: 20px;
  color: #000;
  font-weight: bold;
}
