@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
body {
  background-color: white;
  background-image: url(../images/bg-kula.jpg);
}

p {
  text-align: left;
  padding: 20px;
  color: #cc0000;
  font-family: 'Abril Fatface', cursive;
  font-size: 30px;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  font-weight: normal;
  text-align: center;
  font-size: 45px;
  color: #cc0000;
}


li, ul {
  text-align: left;
}

.container {
  padding-top: 20px;
  padding-bottom: 20px;
  width:90%;
  background: white;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 40px;
}

.recept {
  width: 30%;
  text-align: left;
  background: none;
}

.ingsteg {
  background-color: white;
  border-bottom: 2px solid white;
  width: 30%;
  text-align: center;
  margin: auto;
  padding: 10px;
}

#picture {
  background: url(../images/kardemummakolor.jpg);
  width: 100%;
  background-size: cover;
}
