#bg24 {
    background-image:url(https://orig00.deviantart.net/b834/f/2014/349/a/c/transparent_snow_gif_by_zhdara-d89z7ri.gif);
    background-repeat: repeat;
    background-size:contain;
    background-color: black;
}

.container.dec24 {
  background-color: #E3BD6A;
  font-family: ‘Cutive Mono’, monospace;
}

#picdec24 {
  background-image: url(../images/citroncheesecake.jpg);
  width: 100%;
  padding-top: 100%;
  background-size:cover;
}

.recept.recept24 {
  background-color: 	#153B2C;
}

.picture h1 {
  color: #D4D7C4;
}

.ingsteg.ingsteg24-left,
.ingsteg.ingsteg24-right {
  background-color: #D4D7C4;
}

.ingsteg.ingsteg24-left ul,
.ingsteg.ingsteg24-right ol {
  list-style-type: none;
  padding: 0;
  color: #A17046;
}

.ingsteg.ingsteg24-left ul li,
.ingsteg.ingsteg24-right ol li {
  padding: 0 20px 8px 20px;
  color: #153B2C7;
  text-align: justify;
}

.ingsteg.ingsteg24-left ul p,
.ingsteg.ingsteg24-right ol p {
  padding: 20px 20px 50px 20px;
  font-size: 20px;
  color: #1C5C42;
  font-weight: bold;
}
