@font-face {
	font-family: Honeyguide;
	src: url(Honeyguide.otf);
}

@font-face {
	font-family: UniversNextPro;
	src: url(UniversNextPro-Thin.otf);
}


body {
  background: #985d39;
  margin: 0;
}

p {
  font-family: Honeyguide;
  text-align: left;
  padding: 10px;
  color: beige;
  margin: 0;
  font-size: 20px;
}

h1 {
  font-family: Honeyguide;
  color: #c74848;
  padding: 20px;
  font-size: 40px;
}

li {
  font-family: UniversNextPro;
  color: beige;
  text-align: left;
}

.container.dec5 {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  width:100%;
  background: 0;
  margin-left: 100px;
}

.recept.dec5{
  width: 40%;
  border-radius: 30%;
  text-align: center;
  background: beige;
  border: 5px dotted #c74848;
}

.picture.dec5{
  padding: 100px;
  padding-bottom: 10px;
  border-bottom: 0;
}

.flexbox {
  width: 50%;
  display: flex;
  flex-flow: column;
}

.ingsteg.dec5 {
  border-radius: 10%;
  background-color: #c74848;
  border: 2px solid beige;
  width: 50%;
  padding: 30px;
  text-align: center;
  margin: 20px;
}

#picturedec5 {
  background: url(../images/paj.jpg);
  border-radius: 50%;
  width: 100%;
  padding-top: 100%;
  background-size: cover;
  border: 4px solid #c74848;
}
