#bg8 {
    background-image:url(http://www.sevenoaksart.co.uk/images/snow-transparent.gif);
    background-color: black;
}

.container.dec8 {
  background-color: #fff;
  font-family: ‘Cutive Mono’, monospace;
}

#picdec8 {
  background-image: url(../images/christmastreebrownies.jpg);
  width: 100%;
  padding-top: 100%;
  background-size:cover;
}

.ingsteg.ingsteg8-left,
.ingsteg.ingsteg8-right {
  background-color: hsl(0, 0%, 92%);
}

.ingsteg.ingsteg8-left ul,
.ingsteg.ingsteg8-right ol {
  list-style-type: none;
  padding: 0;
}

.ingsteg.ingsteg8-left ul li,
.ingsteg.ingsteg8-right ol li {
  padding: 0 20px 8px 20px;
  color: #000;
}

.ingsteg.ingsteg8-left ul p,
.ingsteg.ingsteg8-right ol p {
  padding: 20px 20px 50px 20px;
  font-size: 30px;
  color: #000;
  font-weight: bold;
  font-family: 'Devonshire', cursive;
  letter-spacing: 3px;
}
